<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(%-5level) [%blue(%thread)] %clr(%-40.40logger{39}){cyan}.%clr(%method){yellow} #L%clr(%line){magenta} %clr(:){faint} %msg%n%wEx</pattern>
        </encoder>
    </appender>

    <springProfile name="default, test">
        <logger name="org.springframework" level="TRACE" />
        <logger name="com.dongho" level="DEBUG" />

        <logger name="org.hibernate.type.descriptor.sql" level="TRACE" />

        <root level="INFO">
            <appender-ref ref="stdout" />
        </root>
    </springProfile>

</configuration>
